 @import url(http://allfont.ru/allfont.css?fonts=league-gothic);
 @import url(http://allfont.ru/allfont.css?fonts=open-sans-light);
 body {
     font-family: Times New Roman, Arial, sans-serif;
 }

 .clearfix:after {
     content: '';
     clear: both;
     display: block;
 }
 /* header */

 header {
     background: url('../img/fon-head.jpg') no-repeat center center;
     background-color: #d5c9cb;
     background-size: cover;
     height: 841px;
     position: relative;
 }

 .conteiner {
     max-width: 960px;
     width: 100%;
     height: 100%;
     margin: 0 auto;
     position: relative;
 }

 .logo {
     margin-top: 65px;
 }

 .hamburger {
     display: block;
     width: 30px;
     height: 20px;
     position: absolute;
     top: 30px;
     left: 200px;
     cursor: pointer;
 }

 .hamburger span {
     width: 100%;
     height: 3px;
     margin-bottom: 5px;
     background: #ffffff;
     display: block;
 }

 .hamburger {
     display: none;
 }

 nav {
     float: right;
 }

 .menu {
     font-family: 'League Gothic', Arial;
     font-size: 24px;
     text-shadow: 1px 1px 1px #000;
     margin: 68px 9px 0px 0px;
 }

 .menu__item {
     font-size: 23px;
     display: inline-block;
     padding-left: 50px;
 }

 .menu__link {
     color: #ffffff;
     text-decoration: none;
     text-transform: uppercase;
 }

 .menu__link:hover {
     border-bottom: 2px solid #edbfff;
 }

 .slider {
     height: 400px;
     width: 100%;
     background-color: rgba(0, 0, 0, .2);
     position: absolute;
     top: 274px;
 }

 .slider__content {
     display: block;
     width: 55%;
     margin: 77px 0px 0px 2px;
 }

 .slider h2 {
     font-family: 'League Gothic', Arial;
     font-size: 58px;
     color: #fefefe;
 }

 .slider h3 {
     font-family: 'League Gothic', Arial;
     font-size: 32px;
     color: #edbfff;
     margin-left: -2px;
 }

 .slider p {
     font-family: 'Open Sans Light', Arial;
     font-size: 18px;
     color: #ffffff;
     line-height: 23px;
     margin-top: 8px;
     margin-left: -2px;
 }

 .mobile {
     position: absolute;
     top: -94px;
     right: 70px;
 }

 .slider__radio {
     position: absolute;
     top: 765px;
     right: 160px;
 }

 .arrow-left {
     height: 34px;
     position: absolute;
     top: 190px;
     left: 70px;
 }

 .arrow-right {
     height: 34px;
     position: absolute;
     top: 190px;
     right: 70px;
 }
 /* header and */
 /* aside */

 aside {
     background-image: -moz-linear-gradient(top, #745082, #33253a);
     background-image: -webkit-gradient(linear, left top, left bottom, from(#745082), to(#33253a));
     background-color: #d5c9cb;
     height: 342px;
     border-top: 1px solid #33253a;
     border-bottom: 1px solid #ffffff;
     overflow: hidden;
 }

 .aside__description {
     display: inline-block;
     width: 29%;
     margin: 76px 41px 0px 10px;
     font-size: 0px;
     vertical-align: top;
 }

 .aside__description:first-child {
     margin-right: 47px;
 }

 .aside__description:last-child {
     margin-right: 0px;
 }

 .last__colomn {
     width: 28%;
 }

 .last__colomn span {
     margin-left: 3px;
 }

 .aside__description.last__colomn h4 {
     margin-left: 58px;
 }

 .aside__description .last__colomn a {
     margin: -4px -8px 0px 0px;
 }

 .aside__description h4, .aside__description p {
     margin-left: 54px;
 }

 .aside__description h4 {
     font-family: 'League Gothic', Arial;
     font-size: 26px;
     color: #ffffff;
 }

 .aside__description p {
     font-family: 'Open Sans Light', Arial;
     font-size: 16px;
     color: #ffffff;
     margin: 8px 0px 0px 53px;
     line-height: 24px;
 }

 .aside__description a {
     font-family: 'League Gothic', Arial;
     color: #ffffff;
     font-size: 18px;
     text-decoration: none;
     float: right;
     margin: 20px 10px 0px 0px;
 }

 .aside__description a:hover {
     text-shadow: 0 0 8px rgba(255, 255, 255, .8);
 }

 aside span {
     display: block;
     background: url('../img/icons.png') 0 0 no-repeat;
     width: 29px;
     height: 26px;
     border: none;
     float: left;
     margin: 9px 0px 0px 1px;
 }

 .tell {
     background-position: 0 -25px;
 }

 .music {
     background-position: 0 -52px;
 }

 .link__more a {
     margin: 20px 5px 0px 0px;
 }
 /* aside and */
 /* dialog */

 .dialog {
     background-color: #f9f9f9;
     height: 485px;
     border-bottom: 1px solid #e6e6e6;
     overflow: hidden;
 }

 .dialog__wrapper {
     display: table;
     width: 100%;
     vertical-align: top;
 }

 .dialog__table {
     display: table-cell;
     width: 50%;
     vertical-align: top;
 }

 .dialog__content {
     background: url('../img/dialog.png') 0 0 no-repeat;
     width: 90%;
     height: 292px;
     box-sizing: border-box;
     position: relative;
     margin: 98px 0px 0px 23px;
     padding: 30px 30px 0px 40px;
 }

 .dialog__content h4 {
     font-family: 'League Gothic', Arial;
     color: #454545;
     font-size: 30px;
 }

 .dialog__content h4 span {
     font-family: 'League Gothic', Arial;
     color: #edbfff;
     font-size: 30px;
 }

 .dialog__content p {
     font-family: 'Open Sans Light', Arial;
     font-size: 16px;
     color: #454545;
     line-height: 24px;
     margin-top: 9px;
 }

 .dialog__content a {
     text-decoration: none;
 }

 .dialog__content a:hover {
     border: none;
 }

 .dialog__foto {
     position: absolute;
     top: 18px;
     left: -23px;
 }

 .dialog__radio {
     margin: 3px 0px 0px 188px;
 }

 .dialog__table img {
     float: left;
     margin-right: 18px;
 }

 .dialog__table ul li {
     margin-top: 16px;
     line-height: 25px;
 }

 .dialog__table p {
     font-family: 'Open Sans Light', Arial;
     font-size: 16px;
     color: #454545;
     font-weight: bold;
 }

 .dialog__table span {
     font-family: 'Open Sans Light', Arial;
     font-size: 16px;
     color: #454545;
 }

 .dialog__table h4 {
     font-family: 'League Gothic', Arial;
     color: #454545;
     font-size: 30px;
 }

 .dialog__ssilka {
     float: right;
     font-family: 'League Gothic', Arial;
     color: #454545;
     font-size: 18px;
     text-decoration: none;
     margin: 20px 20px;
 }

 .dialog__table a:hover {
     border: none;
 }

 .dialog__content2 {
     margin: 127px 0px 0px 30px;
 }

 .dialog__content2 a {
     text-transform: none;
 }
 /* dialog and */
 /* partners */

 .partners {
     background-color: #f9f9f9;
     height: 118px;
     border: 1px solid #fefefe;
 }

 .partners__wrapper {
     display: table;
     vertical-align: top;
     margin: 23px auto;
     box-sizing: border-box;
 }

 .partners__table {
     display: table-cell;
     height: 71px;
     padding: 0px 30px;
     vertical-align: top;
 }
 /* partners and*/
 /*comments*/

 .comments {
     height: 395px;
     background-color: #ececec;
     border-top: 1px solid #e6e6e6;
 }

 .comments__description {
     display: inline-block;
     width: 29%;
     margin: 93px 0px 0px;
     vertical-align: top;
     height: 61%;
     text-overflow: ellipsis;
     overflow: hidden;
 }

 .comments__description a {
     text-decoration: none;
 }

 .comments__description:first-child {
     margin-right: 47px;
 }

 .comments__description:last-child {
     margin: 87px 0px 0px 46px;
     width: 29%;
 }

 .comments__description h3 {
     font-family: 'League Gothic', Arial;
     font-size: 48px;
     color: #454545;
     margin-bottom: 10px;
 }

 .comments__description span {
     color: #b9b9b9;
 }

 .comments__description h4 {
     font-family: 'League Gothic', Arial;
     font-size: 30px;
     color: #454545;
 }

 .h4__1 {
     margin-top: 2px;
 }

 .h4__2 {
     margin-top: 8px;
 }

 .comments__description h5 {
     font-family: Georgia, Arial;
     font-size: 16px;
     color: #c5c5c5;
     font-style: italic;
     padding-top: 3px;
 }

 .comments__description p {
     font-family: 'Open Sans Light', Arial;
     font-size: 16px;
     color: #888888;
     margin-top: 10px;
     line-height: 24px;
     text-overflow: ellipsis;
     overflow: hidden;
 }
 /* footer */

 footer {
     height: 114px;
     background: url('../img/footer-bg.jpg') no-repeat center center;
 }

 .menu-footer {
     float: left;
     color: #ffffff;
     margin-top: 43px;
     padding-left: 0px;
     text-shadow: 2px 2px 2px #4b494e;
 }

 .menu-footer .menu__item {
     font-family: 'League Gothic', Arial;
     font-size: 20px;
     padding-left: 0px;
     margin-right: 40px;
 }

 .designed {
     position: absolute;
     top: 53px;
     right: 0px;
 }

 .designed p {
     font-family: 'Open Sans Light', Arial;
     font-size: 12px;
     color: #ffffff;
 }

 .designed span {
     font-weight: bold;
 }
 /* footer and */

 @media (max-width:900px) {
     .aside__description {
         width: 27%;
         height: 65%;
         text-overflow: ellipsis;
         overflow: hidden;
     }
     .aside__description p {
         width: 75%;
         height: 65%;
         text-overflow: ellipsis;
         overflow: hidden;
     }
     .dialog__content p {
         height: 75%;
         text-overflow: ellipsis;
         overflow: hidden;
     }
 }

 @media (max-width:850px) {
     .aside__description {
         width: 26%;
         height: 65%;
     }
     .aside__description p {
         width: 70%;
         height: 65%;
     }
     .partners__wrapper {
         margin: 23px auto;
     }
     .partners__table {
         padding: 10px;
     }
     .comments__description {
         max-width: 27%;
     }
 }

 @media (max-width:767px) {
     header {
         width: 100%;
         height: 797px;
     }
     .conteiner {
         padding: 0 10px;
         box-sizing: border-box;
     }
     .logo {
         margin: 70px 0px 0px -5px;
     }
     .hamburger {
         display: none;
     }
     nav {
         float: none;
     }
     .menu {
         margin: 30px 0px 0px -55px;
     }
     .slider {
         position: absolute;
         top: 243px;
     }
     .mobile {
         position: absolute;
         top: -120px;
         right: 68px;
     }
     .slider__content {
         width: 40%;
         max-width: 300px;
         height: 200px;
         margin: 97px 0px 0px 12px;
     }
     .slider__content p {
         height: 133px;
         text-overflow: ellipsis;
         overflow: hidden;
     }
     .slider h2 {
         font-size: 48px;
         margin-left: 7px;
     }
     .slider h3 {
         font-size: 24px;
         margin: 9px 0px 0px 5px;
     }
     .slider p {
         font-family: 'Open Sans Light', Arial;
         font-size: 16px;
         line-height: 26px;
         margin-left: 7px;
     }
     .arrow-left {
         position: absolute;
         top: 187px;
         left: 5px;
     }
     .arrow-right {
         position: absolute;
         top: 187px;
         right: 5px;
     }
     .slider__radio {
         position: absolute;
         top: 680px;
         right: 160px;
     }
     aside {
         height: 340px;
     }
     .aside__description {
         width: 30%;
         height: 100%;
         margin: 76px 5px 0px 0px;
     }
     .aside__description:first-child {
         margin-right: 0px;
     }
     .aside__description h4 {
         font-family: 'League Gothic', Arial;
         font-size: 24px;
         color: #ffffff;
     }
     .aside__description p {
         display: block;
         height: 28%;
         margin: 3px 0px 0px 54px;
         overflow: hidden;
     }
     .aside__description a {
         margin: 20px 0px 0px 0px;
     }
     .key {
         margin: 3px 0px 0px 1px;
     }
     .dialog__content {
         background-color: #fff;
         width: 90%;
         height: 273px;
         box-sizing: border-box;
         position: relative;
         margin: 98px 0px 0px 23px;
         padding: 30px 30px 30px 40px;
     }
     .dialog__content h4 {
         width: 90px;
         font-size: 24px;
     }
     .dialog__content h4 span {
         font-size: 24px;
     }
     .dialog__content p {
         height: 150px;
         font-family: 'Open Sans Light', Arial;
         font-size: 16px;
         color: #454545;
         line-height: 24px;
         margin-top: 9px;
         text-overflow: clip;
         overflow: hidden;
     }
     .dialog__radio {
         margin: 25px 0px 0px 130px;
     }
     .dialog__content2 {
         margin: 127px 0px 0px 20px;
     }
     .dialog__content2 p {
         text-overflow: clip;
         overflow: hidden;
     }
     .dialog__content2 span {
         display: block;
         width: 260px;
         height: 25px;
         text-overflow: clip;
         overflow: hidden;
         margin-top: 0px;
     }
     .dialog__content2 a {
         margin-left: 0px;
     }
     .dialog__table ul li {
         line-height: 30px;
     }
     .dialog__ssilka {
         margin: 10px 20px 0px 0px;
     }
     .partners__table {
         padding: 0;
     }
     .comments__description {
         display: inline-block;
         vertical-align: top;
         width: 27%;
         height: 205px;
         margin: 30px 20px;
     }
     .comments__description h4 {
         font-size: 24px;
     }
     .comments__description:first-child {
         margin: 30px 0px;
     }
     .comments__description:last-child {
         margin: 30px 0px 0px 0px;
         width: 27%;
     }
     .designed {
         position: absolute;
         top: 63px;
         right: 50px;
     }
     .menu-footer {
         margin-left: 30px;
     }
     .partners__wrapper {
         margin: 23px auto;
         padding: 0px;
     }
     .partners__table {
         float: right;
         padding: 10px;
     }
 }

 @media (max-width:630px) {
     .partners {
         height: 234px;
     }
     aside {
         height: 598px;
     }
     .aside__description {
         width: 100%;
         height: 30%;
         margin: 10px 0px 0px 13px;
     }
     .aside__description:first-child {
         width: 100%;
         margin: 10px 0px 0px 13px;
     }
     .aside__description a {
         margin-right: 35px;
     }
     .aside__description .last__colomn a {
         margin: -4px -8px 0px 0px;
     }
     .aside__description p {
         height: 100px;
         margin-right: 35px;
     }
     .dialog {
         height: 785px;
     }
     .dialog__table {
         width: 100%;
     }
     .dialog__wrapper {
         display: block;
     }
     .dialog__table {
         display: block;
     }
     .dialog__content {
         margin-top: 0px;
     }
     .dialog__content2 {
         margin-top: 30px;
     }
 }

 @media (max-width:480px) {
     header {
         height: 548px;
     }
     .logo {
         padding: 0px;
         margin-top: 65px;
         margin-left: 150px;
     }
     nav {
         position: relative;
     }
     .hamburger {
         display: block;
         height: 20px;
         margin: 15px auto;
         cursor: pointer;
     }
     .hamburger span {
         width: 100%;
         height: 3px;
         margin-bottom: 5px;
         background: #ffffff;
         display: block;
     }
     .menu {
         display: none;
         width: 246px;
         position: absolute;
         top: 35px;
         left: 150px;
         background-color: rgba(72, 59, 78, 0.9);
         font-family: 'League Gothic', Arial;
         font-size: 24px;
         text-align: center;
         text-shadow: 1px 1px 1px #000;
         border: 1px solid black;
         border-radius: 13px;
         overflow: hidden;
         z-index: 9;
     }
     .menu__item {
         height: 39px;
         font-size: 23px;
         display: block;
         padding: 10px 0px 0px;
         box-sizing: border-box;
         border-top: 1px solid #523f5a;
         border-bottom: 1px solid #36283e;
     }
     .item__here {
         display: block;
         background-color: rgba(45, 36, 50, 0.9);
         border-bottom: 2px solid #edbfff;
     }
     .menu__link {
         color: #ffffff;
         text-decoration: none;
         text-transform: uppercase;
     }
     nav:hover>.menu {
         display: block;
     }
     .slider {
         height: 246px;
         position: absolute;
         top: 197px;
     }
     .mobile {
         height: 304px;
         position: absolute;
         top: -105px;
         right: 45px;
     }
     .slider h2 {
         font-size: 37px;
         margin: -5px 0px 0px 11px;
     }
     .slider h3 {
         font-size: 18px;
         margin: 4px 0px 0px 11px;
     }
     .slider p {
         display: none;
     }
     .slider__radio {
         position: absolute;
         top: 470px;
         right: 200px;
     }
     .arrow-left {
         position: absolute;
         top: 107px;
     }
     .arrow-right {
         position: absolute;
         top: 107px;
     }
     aside {
         height: 598px;
     }
     .aside__description {
         width: 100%;
         margin: 10px 0px 0px 13px;
     }
     .aside__description:first-child {
         width: 100%;
         margin: 10px 0px 0px 13px;
     }
     .aside__description a {
         margin-right: 35px;
     }
     .aside__description .last__colomn a {
         margin: -4px -8px 0px 0px;
     }
     .aside__description p {
         margin-right: 35px;
     }
     .dialog {
         height: 785px;
     }
     .dialog__table {
         width: 100%;
     }
     .dialog__wrapper {
         display: block;
     }
     .dialog__table {
         display: block;
     }
     .dialog__content {
         margin-top: 0px;
     }
     .dialog__content2 {
         margin-top: 30px;
     }
     .partners {
         height: 234px;
     }
     .partners__wrapper {
         width: 400px;
         margin-left: auto;
         margin-right: auto;
     }
     .partners__table {
         float: right;
         margin-right: 10px;
     }
     .comments {
         height: 670px;
     }
     .comments__description {
         max-width: 100%;
         width: 100%;
         margin: 5px 0px 0px;
     }
     .comments__description:last-child {
         width: 100%;
         margin: 5px 0px 0px;
     }
     .comments__description h3 {
         margin: 0px;
     }
     .comments__description p {
         height: 60%;
         margin-right: 30px;
     }
     .menu-footer {
         margin: 20px auto;
     }
     .menu-footer .menu__item {
         margin-right: 20px;
     }
     .designed {
         position: static;
     }
     .designed p {
         margin: 0 auto;
     }
 }

 @media (max-width:420px) {
     .partners {
         height: 423px;
         box-sizing: border-box;
     }
     .partners__wrapper {
         width: 100%;
         padding: 0px;
     }
     .partners__table {
         margin: 20px 10px;
     }
 }

 @media (max-width:375px) {
     .mobile {
         display: none;
     }
 }

 @media (max-width:320px) {
     header {
         height: 517px;
     }
     .logo {
         margin: 30px 60px;
     }
     nav {
         position: relative;
     }
     .hamburger {
         display: block;
         height: 20px;
         position: absolute;
         top: 30px;
         left: 130px;
         cursor: pointer;
     }
     .hamburger span {
         width: 100%;
         height: 3px;
         margin-bottom: 5px;
         background: #ffffff;
         display: block;
     }
     .menu {
         display: none;
         width: 246px;
         position: absolute;
         top: 35px;
         left: 70px;
     }
     nav ul {
         display: none;
     }
     .aside__description {
         margin-top: 40px;
     }
     .aside__description p {
         height: 100px;
         overflow: hidden;
     }
     .aside__description:first-child {
         width: 100%;
         margin: 30px 0px 0px 13px;
     }
     .aside__description.last__colomn a {
         margin-right: 35px;
     }
     .slider p {
         display: none;
     }
     .mobile {
         display: none;
     }
     .dialog__table img {
         margin-right: 0px;
     }
     .partners {
         height: 423px;
     }
     .partners__wrapper {
         width: 100%;
         padding: 0px;
     }
     .partners__table {
         margin: 20px 10px;
     }
     .menu-footer {
         display: none;
     }
     .designed p {
         padding: 30px 0px 0px 40px;
     }
     footer {
         overflow: hidden;
     }
 }
