body {
	background-color: #f1f0f3;
	width: 100%;
	font-family: "Myriad Pro", Arial, sans-serif;
}
.wrapper {
	width: 1024px;
	height: 1024px;
	margin: 0 auto;
}
h3 {
	font-size: 18px;
	color: #1f1f1f;
	font-weight: bold;
	margin-left: 262px;
}
hr {
	border-bottom: 1px #c4c7c4 solid;
	width: 500px;
	margin-left: 262px;
	margin-bottom: 23px;
}
.header h1 {
	font-size: 36px;
	font-weight:  bold;
	text-transform: uppercase;
	margin-top: 50px;
	margin-left: 270px;
}
.header p {
	text-align: center;
	margin-top: 30px;
}
.header img {
	width: 200px;
	height: 200px;
	border: 1px #8f8f8f solid;

}
.header span {
	color: #5c5e5d;
	font-size: 14px;
	font-family: Arial;
	text-decoration: underline;
	margin-left: 262px;
	margin-top: 23px;
	margin-bottom: 23px;
	display: block;
}
.content li {
	font-size: 14px;
	color:  #5c5e5d;
	margin-left: 288px;
	padding-top: 5px;
}
.content ul {
	margin-bottom: 23px;
	margin-top: 33px;
}
.contacts span {
	margin-top: 23px; 
	margin-left: 300px;
	margin-bottom: 26px;
	display: block;
	font-size: 14px;
	color: #5c5e5d;
}
.contacts a {
	color: #0056d3;
	font-size: 14px;
	margin-left: 300px;
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;

}
.testimonial span {
	display: block;
	font-size: 14px;
	color: #5c5e5d;
	margin-left: 300px;
	margin-top: 30px;
}